                                                /*
 * logo generator link src: https://fontmeme.com/halloween-fonts/
 */
                                                
                                                @font-face {
                                                    font-family: 'rocksalt';
                                                    src: url('./fonts/RockSalt-Regular.ttf');
                                                }
                                                
                                                @font-face {
                                                    font-family: 'outfit-regular';
                                                    src: url('./fonts/Outfit-Regular.ttf');
                                                }
                                                
                                                @font-face {
                                                    font-family: 'outfit-black';
                                                    src: url('./fonts/Outfit-Black.ttf');
                                                }
                                                
                                                .background1 {
                                                    background: url(https://images.hdqwalls.com/wallpapers/the-nun-movie-4k-fz.jpg) no-repeat center center fixed;
                                                    -webkit-background-size: cover;
                                                    -moz-background-size: cover;
                                                    -o-background-size: cover;
                                                    background-size: cover;
                                                    overflow: hidden;
                                                }
                                                
                                                .background2 {
                                                    background: url(https://images.alphacoders.com/787/787294.png) no-repeat center center fixed;
                                                    -webkit-background-size: cover;
                                                    -moz-background-size: cover;
                                                    -o-background-size: cover;
                                                    background-size: cover;
                                                    overflow: hidden;
                                                }
                                                
                                                .background3 {
                                                    background: url(images/creepy_girl.jpg) no-repeat center center fixed;
                                                    -webkit-background-size: cover;
                                                    -moz-background-size: cover;
                                                    -o-background-size: cover;
                                                    background-size: cover;
                                                    overflow: hidden;
                                                }
                                                
                                                .background4 {
                                                    background: url(images/michael_myers.png) no-repeat center center fixed;
                                                    -webkit-background-size: cover;
                                                    -moz-background-size: cover;
                                                    -o-background-size: cover;
                                                    background-size: cover;
                                                    overflow: hidden;
                                                }
                                                
                                                .background5 {
                                                    background: url(images/dark_forest.jpg) no-repeat center center fixed;
                                                    -webkit-background-size: cover;
                                                    -moz-background-size: cover;
                                                    -o-background-size: cover;
                                                    background-size: cover;
                                                    overflow: hidden;
                                                }
                                                
                                                * {
                                                    font-family: 'outfit-black', sans-serif;
                                                }
                                                
                                                .complete {
                                                    display: block;
                                                    margin: auto;
                                                    width: 100%;
                                                    height: auto;
                                                }
                                                
                                                p {
                                                    margin: auto;
                                                    color: white;
                                                    font-family: 'outfit-black', sans-serif;
                                                }
                                                
                                                h1,
                                                h2,
                                                h3,
                                                h4 {
                                                    margin: auto;
                                                    font-family: 'rocksalt', cursive;
                                                    text-align: center;
                                                }
                                                
                                                #redfont {
                                                    color: rgb(107, 9, 9);
                                                }
                                                
                                                #blackfont {
                                                    color: black;
                                                }
                                                
                                                #whitefont {
                                                    color: white;
                                                }
                                                
                                                .box {
                                                    border-radius: 25px;
                                                    border: 3px solid rgb(107, 9, 9);
                                                    top: 50%;
                                                    left: 50%;
                                                    padding: 15px;
                                                    background: black;
                                                }
                                                
                                                .inputbox {
                                                    height: 100px;
                                                    font-size: 12pt;
                                                }
                                                
                                                .button {
                                                    background-color: white;
                                                    border: none;
                                                    color: rgb(107, 9, 9);
                                                    padding: 12px 0px;
                                                    text-align: center;
                                                    text-decoration: none;
                                                    display: inline-block;
                                                    font-size: 20px;
                                                    transition-duration: 0.4s;
                                                    cursor: pointer;
                                                    border-radius: 10px;
                                                }
                                                
                                                .button1 {
                                                    background-color: white;
                                                    color: black;
                                                    border: 2px solid rgb(107, 9, 9);
                                                    width: 100%;
                                                }
                                                
                                                .button1:hover {
                                                    background-color: rgb(107, 9, 9);
                                                    color: white;
                                                }
                                                
                                                .button2 {
                                                    background-color: black;
                                                    border-radius: 10px;
                                                    padding: 12px 20px;
                                                    font-size: 16px;
                                                    cursor: pointer;
                                                    transition-duration: 0.4s;
                                                    margin: auto;
                                                    color: white;
                                                    margin-left: 0;
                                                }
                                                
                                                .button2:hover {
                                                    background-color: rgb(107, 9, 9);
                                                    color: black;
                                                    transform: 1.1;
                                                    transition: 0.4s;
                                                }
                                                
                                                .button3 {
                                                    color: white;
                                                    transition-duration: 0.4s;
                                                }
                                                
                                                .button3:hover {
                                                    color: black;
                                                    transform: 1.1;
                                                    transition: 0.4s;
                                                }
                                                .button4 {
    background-color: rgb(223, 92, 92);
    color: black;
    border: 2px solid rrgb(107, 9, 9);
    margin-left: 0;
}

.button5 {
    background-color: rgb(78, 65, 65);
    color: black;
    border: 2px solid rrgb(107, 9, 9);
    margin-left: 0;
}
                                                
                                                #imageborder {
                                                    border: rgb(107, 9, 9);
                                                }
                                                
                                                #cent {
                                                    position: absolute;
                                                    top: 50%;
                                                    left: 50%;
                                                    margin-top: -100px;
                                                    margin-left: -150px;
                                                }
                                                
                                                .slideshow {
                                                    position: relative;
                                                    max-with: 1000px;
                                                    left: 75%;
                                                    transform: translateX(-50%);
                                                    margin: auto;
                                                }
                                                
                                                .slide {
                                                    display: none;
                                                }
                                                
                                                .crop {
                                                    width: 1000px;
                                                    height: 400px;
                                                    overflow: hidden;
                                                }
                                                
                                                .crop img {
                                                    width: 1000px;
                                                    object-fit: cover;
                                                }
                                                
                                                #left,
                                                #right {
                                                    cursor: pointer;
                                                    position: absolute;
                                                    top: 200px;
                                                    left: 5px;
                                                    width: auto;
                                                    margin-top: -22px;
                                                    padding: 16px;
                                                    color: white;
                                                    font-weight: bold;
                                                    font-size: 18px;
                                                    user-select: none;
                                                }
                                                
                                                #right {
                                                    left: 950px;
                                                }
                                                
                                                .movierec {
                                                    display: flex;
                                                    flex-direction: row;
                                                    flex-wrap: wrap;
                                                    justify-content: center;
                                                    position: absolute;
                                                    align-items: baseline;
                                                    align-content: space-between;
                                                    left: 10%;
                                                }
                                                
                                                .thumbnail {
                                                    width: 200px;
                                                    height: 100px;
                                                    object-fit: cover;
                                                    margin: 10px;
                                                    text-align: center;
                                                }
                                                
                                                figure {
                                                    padding: 4px;
                                                    margin: auto;
                                                }
                                                
                                                figcaption {
                                                    background-color: black;
                                                    color: white;
                                                    font-style: italic;
                                                    padding: 2px;
                                                    text-align: center;
                                                    position: relative;
                                                    bottom: 14px;
                                                }
                                                /*Header CSS*/
                                                
                                                .headerwrap {
                                                    height: 80px;
                                                    margin-bottom: 1em;
                                                    margin-top: 0;
                                                    display: flex;
                                                    flex-direction: row;
                                                    background-color: rgb(107, 9, 9);
                                                    align-items: flex-start;
                                                }
                                                
                                                .headerobj {
                                                    margin: 25px;
                                                }
                                                
                                                .headerobj.mid {
                                                    width: 100%;
                                                    overflow: hidden;
                                                }
                                                
                                                .hovermenu {
                                                    position: relative;
                                                    display: inline-block;
                                                }
                                                
                                                .dropcont {
                                                    display: none;
                                                }
                                                
                                                .hovermenu:hover .dropcont {
                                                    display: block;
                                                    border: 2px solid rgb(107, 9, 9);
                                                    background: black;
                                                }
                                                
                                                #logo {
                                                    margin: -15px;
                                                }
                                                
                                                #startlogo {
                                                    margin-top: 25px;
                                                    margin-left: 15px;
                                                }
                                                
                                                .headerlogo {
                                                    height: 60px;
                                                    width: 60px;
                                                }
                                                
                                                .footer {
                                                    position: fixed;
                                                    left: 0;
                                                    bottom: 0;
                                                    width: 100%;
                                                    background-color: rgb(107, 9, 9);
                                                    text-align: center;
                                                }
                                                
                                                .videowrapper {
                                                    display: grid;
                                                    grid-template-columns: repeat(5, 1fr);
                                                    grid-gap: 1em;
                                                }
                                                
                                                .videobox {
                                                    width: 1fr;
                                                    height: 200px;
                                                    object-fit: contain;
                                                    border-radius: 10px;
                                                    border: 5px solid rgb(107, 9, 9);
                                                }
                                                
                                                .videobox:hover {
                                                    opacity: 0.7;
                                                    cursor: pointer;
                                                    transform: scale(1.05);
                                                    transition-duration: 0.4s;
                                                }
                                                
                                                .outer_circle {
                                                    stroke-width: 3;
                                                    stroke-dasharray: 410;
                                                    stroke-dashoffset: 0;
                                                    stroke-linecap: square;
                                                    transition: all .4s ease-out;
                                                }
                                                
                                                 :hover .outer_circle {
                                                    stroke-dashoffset: 410;
                                                    transition: stroke .7s .4s ease-out, stroke-dashoffset .4s ease-out;
                                                }
                                                
                                                .glightbox_video:hover .inner-circle {
                                                    fill: #BF2428;
                                                    transition: fill .4s .3s ease-out;
                                                }
                                                
                                                .fade-in {
                                                    animation: fadeIn ease 2s;
                                                    -webkit-animation: fadeIn ease 2s;
                                                    -moz-animation: fadeIn ease 2s;
                                                    -o-animation: fadeIn ease 2s;
                                                    -ms-animation: fadeIn ease 2s;
                                                }
                                                
                                                @keyframes fadeIn {
                                                    0% {
                                                        opacity: 0;
                                                    }
                                                    100% {
                                                        opacity: 1;
                                                    }
                                                }
                                                
                                                @-moz-keyframes fadeIn {
                                                    0% {
                                                        opacity: 0;
                                                    }
                                                    100% {
                                                        opacity: 1;
                                                    }
                                                }
                                                
                                                @-webkit-keyframes fadeIn {
                                                    0% {
                                                        opacity: 0;
                                                    }
                                                    100% {
                                                        opacity: 1;
                                                    }
                                                }
                                                
                                                @-o-keyframes fadeIn {
                                                    0% {
                                                        opacity: 0;
                                                    }
                                                    100% {
                                                        opacity: 1;
                                                    }
                                                }
                                                
                                                @-ms-keyframes fadeIn {
                                                    0% {
                                                        opacity: 0;
                                                    }
                                                    100% {
                                                        opacity: 1;
                                                    }
                                                }
